::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #141414; 
}

::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58); 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

/* .query-result {
  display: flex;
  flex-wrap: wrap;
} */

/* .movies-container {
	position: relative;
	transition: transform 0.2s;
} */

.movie-card img {
  max-width: 180px;
  height: auto;
}

.card {
  border: none;
  position: relative;
  background-color: rgb(50, 50, 50);
  border-radius: .5rem;
}

.card-body {
  border:none;
}
.vert-card-body {
  background-color: rgb(50, 50, 50);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border: none;
  transition: background-color 0.5s ease-out;
}

.card:hover > .vert-card-body {
  background-color: rgb(110, 110, 110);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.overlay-btn {
  width: 35px;
  position: absolute;
  left: 10px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.card:hover > .overlay-btn {
  opacity: 0.8;
}

.check-circle-btn {
  left: 45px;
}
.eye-btn:hover {
  color: rgb(0, 255, 0);
}
.eye-slash-btn:hover{
  color: rgb(255 ,0 ,0);
}
.check-circle-btn:hover {
  color: rgb(0, 255, 0);
}
.minus-circle-btn:hover {
  color: rgb(255, 0, 0);
}
.home-card {
  transition: transform 0.3s ease-out;
}
.home-card:hover {
  transform: scale(1.1);
  z-index: 10;
}

.home-card .card-body {
  display: none;
}

/* .home-card:hover > .card-body {
  display: block;
} */
.page-link {
  background-color: rgb(54, 54, 54);
  color: white;
  border: none;
}
.page-link:hover {
  color:black;
}

.page-item.active .page-link {
  background-color: rgb(180, 180, 180);
  color:black;
}
.details-card {
  width: auto;
}

.back-btn {
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 0.5rem;
  border: none;
}
.back-btn:hover {
  background-color: rgb(110, 110, 110);
}

#nav-image {
  height: 40px;
}

.__react_component_tooltip {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-out !important;
  opacity: 0 !important;
  visibility: visible;
}

.__react_component_tooltip.show {
  visibility: visible;
  opacity: 1 !important;
}

#imdb-image {
  height: 30px;
  margin-top: 1rem;
}

.btn-wrapper {
  justify-content: space-between;
  text-align:center;
}

.btn-wrapper > .overlay-btn {
  border: none;
  background-color: rgb(75, 75, 75);
  padding: 0;
  margin: 2px;
  width: 45%;
  position:static;
  opacity: 0.8;
  transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
}
.btn-wrapper > .overlay-btn:hover {
  background-color:rgb(110, 110, 110);
  border: none;
}

.trailer-btn {
  background-color: rgb(75, 75, 75);
  color: white;
  border: none;
  opacity: 0.8;
  transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
}

.trailer-btn:hover {
  background-color: rgb(100, 100, 100);
  color: white;
}

.movie-app {
  padding-right: 3rem;
  padding-left: 3rem;
}

@media screen and (max-width: 600px) {
  .movie-app {
    padding-left: 0.75rem!important;
    padding-right: 0.75rem!important;
  }
}