::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #141414; 
}

::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58); 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

/* .query-result {
  display: flex;
  flex-wrap: wrap;
} */

.movies-container {
	position: relative;
	transition: transform 0.2s;
}

.movie-card img {
  max-width: 180px;
  height: auto;
}

.card {
  border: none;
  position: relative;
}
.btn {
  width: 35px;
}
.overlay-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  display: none;
}
.result-card:hover > .overlay-btn {
  display: block;
  color: #00ff22;
}
.home-card:hover > .overlay-btn {
  display: block;
  color: #00ff22;
}
.watchlist-card:hover > .remove-btn {
  display: block;
  color: #ff0000;
}
.check-btn {
  left: 45px;
}
.watchlist-card:hover > .check-btn {
  display: block;
  color: #00ff22;
}
.completedlist-card:hover > .remove-btn {
  display: block;
  color: #ff0000;
}

.card:hover > .card-body {
  background-color: rgb(54, 54, 54);
}

.home-card:hover {
  transform: scale(1.1);
}

.home-card .card-body {
  display: none;
}

/* .home-card:hover > .card-body {
  display: block;
} */